/* Other rules */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

button {
  cursor: pointer;
}

body {
  background-color: #17171b;
  color: white;
  font-family: "Roboto", sans-serif;
}

/* welcome Page */

.welcome-header {
  display: flex;
  height: 150px;
  align-items: center;
  margin: 2%;
  justify-content: space-between;
}
.welcome-header h1 {
  cursor: pointer;
}
.welcome-header button {
  border: none;
  color: white;
  background-color: #17171b;
  font-size: x-large;
  margin: 20px;
}
.welcome-characters {
  display: flex;
}

.welcome-container {
  border: salmon 2px solid;
  display: flex;
}

.halo {
  height: 600px;
  width: 230px;
  margin: auto;
  object-fit: cover;
  position: absolute;
  margin-left: 130px;
}
.gta {
  margin-left: 200px;
  height: 480px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.welcome-txt {
  border: skyblue solid 2px;
}

/* header component */

.header {
  display: flex;
  height: 150px;
  align-items: center;
  margin: 2%;
  justify-content: space-between;
}
.header h1 {
  cursor: pointer;
}

.header button {
  border: none;
  color: white;
  background-color: #17171b;
  font-size: x-large;
  margin: 20px;
}

.container {
  margin: 2%;
  border: solid 2px black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Home Page */

.game-card {
  display: flex;
  width: 400px;
  height: 250px;
  justify-content: flex-end;
  align-items: flex-end;
  color: rgb(170, 164, 164);
  margin: 10px;
}

.game-card img {
  object-fit: cover;
  width: 400px;
  height: 250px;

  border-radius: 15px;
}

.game-card h2 {
  position: absolute;
  margin: 5px;
  font-size: x-large;
}

/* Game Page */

.game-container {
  border: springgreen solid 2px;
  height: 1024px;
  display: flex;
  flex-direction: column;
}

.game-image {
  border: pink solid 2px;
  width: 60%;
  height: 100%;
  display: flex;
  overflow: scroll;
  border-radius: 15px;
}

.percent-appreciation {
  position: absolute;
  width: 40%;
  margin: 10px;
}

.game-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  margin-right: 2px;
  border-radius: 15px;
}

.game-details {
  width: 40%;
  border: blue solid 2px;
  display: flex;
}

.img-details {
  border: black solid 2px;
  display: flex;
  height: 50%;
}

.serie-caroussel {
  border: brown 2px solid;
  height: 260px;
  display: flex;
  overflow: scroll;
  margin: 10px;
}

.serie-caroussel img {
  height: 95%;
  margin: 5px;
  width: 300px;
  object-fit: cover;
  border-radius: 15px;
}

.caroussel-card {
  display: flex;
  flex-direction: column;

  border: cadetblue 2px solid;
  height: 100%;
}

.caroussel-card h2 {
}
